<link rel="stylesheet" href="/css/index.css">
<script src="/js/img_process.js"></script>
<script src="/js/math_config.js"></script>
<script src="/js/dart_light_switcher.js"></script>
<script src="/js/pdf.js"></script>